@keyframes sw-rotate {
    100% {
        rotate: 360deg;
    }
}


.sw-simple {
    all: unset;
    --s: var(--size, 20px);
    --c: var(--color, #1b75be);
    --d: var(--duration, 3s);
    height: 1px;
    width: 1px;
    box-sizing: border-box;
    animation: sw-rotate var(--d) linear infinite;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: calc(var(--offset) * 1.5);
    --offset: calc(var(--s) * 3);
    --top: 0px calc(var(--offset) * -1) 0px var(--s) var(--c);
    --topRight: calc(var(--offset) * cos(45deg)) calc(var(--offset) * -1 * sin(45deg)) 0px var(--s) var(--c);
    --right: calc(var(--offset)) 0px 0px var(--s) var(--c);
    --bottomRight: calc(var(--offset) * cos(45deg)) calc(var(--offset) * sin(45deg)) 0px var(--s) var(--c);
    --bottom: 0px calc(var(--offset)) 0px var(--s) var(--c);
    --bottomLeft: calc(var(--offset) * -1 * cos(45deg)) calc(var(--offset) * sin(45deg)) 0px var(--s) var(--c);
    --left: calc(var(--offset) * -1) 0px 0px var(--s) var(--c);
    --topLeft: calc(var(--offset) * -1 * cos(45deg)) calc(var(--offset) * -1 * sin(45deg)) 0px var(--s) var(--c);
    box-shadow: var(--top), var(--topRight), var(--right), var(--bottomRight), var(--bottom), var(--bottomLeft), var(--left), var(--topLeft);
}


/* .simple-multicolor {
    all: unset;
    --s: 20px;
    --offset: calc(var(--s) * 3);
    margin: calc(var(--offset) * 1.5);
    height: 1px;
    width: 1px;
    box-sizing: border-box;
    animation: sw-rotate 5s linear infinite;
    border-radius: 50%;
    display: grid;
    place-items: center;
    --color1: hsla(0, 80%, 30%, 0.5);
    --color2: hsla(30, 80%, 30%, 0.5);
    --color3: hsla(60, 80%, 30%, 0.5);
    --color4: hsla(120, 80%, 30%, 0.5);
    --color5: hsla(180, 80%, 30%, 0.5);
    --color6: hsla(210, 80%, 30%, 0.5);
    --color7: hsla(270, 80%, 30%, 0.5);
    --color8: hsla(330, 80%, 30%, 0.5);
    --top: 0px calc(var(--offset) * -1) 0px var(--s) var(--color1);
    --topRight: calc(var(--offset) * cos(45deg)) calc(var(--offset) * -1 * sin(45deg)) 0px var(--s) var(--color2);
    --right: calc(var(--offset)) 0px 0px var(--s) var(--color3);
    --bottomRight: calc(var(--offset) * cos(45deg)) calc(var(--offset) * sin(45deg)) 0px var(--s) var(--color4);
    --bottom: 0px calc(var(--offset)) 0px var(--s) var(--color5);
    --bottomLeft: calc(var(--offset) * -1 * cos(45deg)) calc(var(--offset) * sin(45deg)) 0px var(--s) var(--color6);
    --left: calc(var(--offset) * -1) 0px 0px var(--s) var(--color7);
    --topLeft: calc(var(--offset) * -1 * cos(45deg)) calc(var(--offset) * -1 * sin(45deg)) 0px var(--s) var(--color8);
    --boxShadow: var(--top), var(--topRight), var(--right), var(--bottomRight), var(--bottom), var(--bottomLeft), var(--left), var(--topLeft);
    box-shadow: var(--boxShadow);
} */


.sw-shuffle {
    all: unset;
    --s: var(--size, 50px);
    --time: var(--duration, 48s);
    --o: calc(var(--s) * 3.2);
    height: 0px;
    width: 0px;
    box-sizing: border-box;
    animation: sw-shuffle-animation var(--time) ease-in-out infinite;
    display: grid;
    place-items: center;
    margin: calc(var(--o)*1.5);
    --color1: hsla(0, 90%, 60%, 0.7);
    --color2: hsla(30, 90%, 60%, 0.7);
    --color3: hsla(50, 90%, 60%, 0.7);
    --color4: hsla(140, 90%, 50%, 0.7);
    --color5: hsla(180, 90%, 55%, 0.7);
    --color6: hsla(220, 90%, 60%, 0.7);
    --color7: hsla(280, 90%, 65%, 0.7);
    --color8: hsla(330, 90%, 60%, 0.7);

    --top: 0px calc(var(--o) * -1) 0px var(--s) var(--color1);
    --topRight: calc(var(--o) * cos(45deg)) calc(var(--o) * -1 * sin(45deg)) 0px var(--s) var(--color2);
    --right: calc(var(--o)) 0px 0px var(--s) var(--color3);
    --bottomRight: calc(var(--o) * cos(45deg)) calc(var(--o) * sin(45deg)) 0px var(--s) var(--color4);
    --bottom: 0px calc(var(--o)) 0px var(--s) var(--color5);
    --bottomLeft: calc(var(--o) * -1 * cos(45deg)) calc(var(--o) * sin(45deg)) 0px var(--s) var(--color6);
    --left: calc(var(--o) * -1) 0px 0px var(--s) var(--color7);
    --topLeft: calc(var(--o) * -1 * cos(45deg)) calc(var(--o) * -1 * sin(45deg)) 0px var(--s) var(--color8);

    --startingPosition:
        var(--top),
        var(--topRight),
        var(--right),
        var(--bottomRight),
        var(--bottom),
        var(--bottomLeft),
        var(--left),
        var(--topLeft);

    &::before {
        content: "";
        --s: 25px;
        --o: calc(var(--s) * 3.2);

        --top: 0px calc(var(--o) * -1) 0px var(--s) var(--color1);
        --topRight: calc(var(--o) * cos(45deg)) calc(var(--o) * -1 * sin(45deg)) 0px var(--s) var(--color2);
        --right: calc(var(--o)) 0px 0px var(--s) var(--color3);
        --bottomRight: calc(var(--o) * cos(45deg)) calc(var(--o) * sin(45deg)) 0px var(--s) var(--color4);
        --bottom: 0px calc(var(--o)) 0px var(--s) var(--color5);
        --bottomLeft: calc(var(--o) * -1 * cos(45deg)) calc(var(--o) * sin(45deg)) 0px var(--s) var(--color6);
        --left: calc(var(--o) * -1) 0px 0px var(--s) var(--color7);
        --topLeft: calc(var(--o) * -1 * cos(45deg)) calc(var(--o) * -1 * sin(45deg)) 0px var(--s) var(--color8);

        --startingPosition:
            var(--top),
            var(--topRight),
            var(--right),
            var(--bottomRight),
            var(--bottom),
            var(--bottomLeft),
            var(--left),
            var(--topLeft);

        rotate: 180deg;
        animation: sw-shuffle-animation var(--time) ease-in-out infinite;
    }

    &::after {
        content: "";
        --s: 12.5px;
        --o: calc(var(--s) * 3.2);

        --top: 0px calc(var(--o) * -1) 0px var(--s) var(--color1);
        --topRight: calc(var(--o) * cos(45deg)) calc(var(--o) * -1 * sin(45deg)) 0px var(--s) var(--color2);
        --right: calc(var(--o)) 0px 0px var(--s) var(--color3);
        --bottomRight: calc(var(--o) * cos(45deg)) calc(var(--o) * sin(45deg)) 0px var(--s) var(--color4);
        --bottom: 0px calc(var(--o)) 0px var(--s) var(--color5);
        --bottomLeft: calc(var(--o) * -1 * cos(45deg)) calc(var(--o) * sin(45deg)) 0px var(--s) var(--color6);
        --left: calc(var(--o) * -1) 0px 0px var(--s) var(--color7);
        --topLeft: calc(var(--o) * -1 * cos(45deg)) calc(var(--o) * -1 * sin(45deg)) 0px var(--s) var(--color8);

        --startingPosition:
            var(--top),
            var(--topRight),
            var(--right),
            var(--bottomRight),
            var(--bottom),
            var(--bottomLeft),
            var(--left),
            var(--topLeft);

        animation: sw-shuffle-animation var(--time) ease-in-out infinite;
    }

}


@keyframes sw-shuffle-animation {

    0%,
    100% {
        box-shadow: var(--startingPosition);
    }

    0.89% {
        box-shadow:
            var(--top),
            var(--top),
            var(--right),
            var(--bottomRight),
            var(--bottom),
            var(--bottomLeft),
            var(--left),
            var(--topLeft);
    }

    1.79% {
        box-shadow:
            var(--top),
            var(--top),
            var(--top),
            var(--bottomRight),
            var(--bottom),
            var(--bottomLeft),
            var(--left),
            var(--topLeft);
    }

    2.68% {
        box-shadow:
            var(--top),
            var(--top),
            var(--top),
            var(--top),
            var(--bottom),
            var(--bottomLeft),
            var(--left),
            var(--topLeft);
    }

    3.57% {
        box-shadow:
            var(--top),
            var(--top),
            var(--top),
            var(--top),
            var(--top),
            var(--bottomLeft),
            var(--left),
            var(--topLeft);
    }

    4.46% {
        box-shadow:
            var(--top),
            var(--top),
            var(--top),
            var(--top),
            var(--top),
            var(--top),
            var(--left),
            var(--topLeft);
    }

    5.36% {
        box-shadow:
            var(--top),
            var(--top),
            var(--top),
            var(--top),
            var(--top),
            var(--top),
            var(--top),
            var(--topLeft);
    }

    6.25% {
        box-shadow:
            var(--top),
            var(--top),
            var(--top),
            var(--top),
            var(--top),
            var(--top),
            var(--top),
            var(--top);
    }

    7.14% {
        box-shadow:
            var(--top),
            var(--topRight),
            var(--top),
            var(--top),
            var(--top),
            var(--top),
            var(--top),
            var(--top);
    }

    8.04% {
        box-shadow:
            var(--top),
            var(--topRight),
            var(--right),
            var(--top),
            var(--top),
            var(--top),
            var(--top),
            var(--top);
    }

    8.93% {
        box-shadow:
            var(--top),
            var(--topRight),
            var(--right),
            var(--bottomRight),
            var(--top),
            var(--top),
            var(--top),
            var(--top);
    }

    9.82% {
        box-shadow:
            var(--top),
            var(--topRight),
            var(--right),
            var(--bottomRight),
            var(--bottom),
            var(--top),
            var(--top),
            var(--top);
    }

    10.71% {
        box-shadow:
            var(--top),
            var(--topRight),
            var(--right),
            var(--bottomRight),
            var(--bottom),
            var(--bottomLeft),
            var(--top),
            var(--top);
    }

    11.61% {
        box-shadow:
            var(--top),
            var(--topRight),
            var(--right),
            var(--bottomRight),
            var(--bottom),
            var(--bottomLeft),
            var(--left),
            var(--top);
    }

    12.5% {
        box-shadow: var(--startingPosition);
    }

    13.39% {
        box-shadow:
            var(--top),
            var(--topRight),
            var(--topRight),
            var(--bottomRight),
            var(--bottom),
            var(--bottomLeft),
            var(--left),
            var(--topLeft);
    }

    14.29% {
        box-shadow:
            var(--top),
            var(--topRight),
            var(--topRight),
            var(--topRight),
            var(--bottom),
            var(--bottomLeft),
            var(--left),
            var(--topLeft);
    }

    15.18% {
        box-shadow:
            var(--top),
            var(--topRight),
            var(--topRight),
            var(--topRight),
            var(--topRight),
            var(--bottomLeft),
            var(--left),
            var(--topLeft);
    }

    16.07% {
        box-shadow:
            var(--top),
            var(--topRight),
            var(--topRight),
            var(--topRight),
            var(--topRight),
            var(--topRight),
            var(--left),
            var(--topLeft);
    }

    16.96% {
        box-shadow:
            var(--top),
            var(--topRight),
            var(--topRight),
            var(--topRight),
            var(--topRight),
            var(--topRight),
            var(--topRight),
            var(--topLeft);
    }

    17.86% {
        box-shadow:
            var(--top),
            var(--topRight),
            var(--topRight),
            var(--topRight),
            var(--topRight),
            var(--topRight),
            var(--topRight),
            var(--topRight);
    }

    18.75% {
        box-shadow:
            var(--topRight),
            var(--topRight),
            var(--topRight),
            var(--topRight),
            var(--topRight),
            var(--topRight),
            var(--topRight),
            var(--topRight);
    }

    19.64% {
        box-shadow:
            var(--topRight),
            var(--topRight),
            var(--right),
            var(--topRight),
            var(--topRight),
            var(--topRight),
            var(--topRight),
            var(--topRight);
    }

    20.54% {
        box-shadow:
            var(--topRight),
            var(--topRight),
            var(--right),
            var(--bottomRight),
            var(--topRight),
            var(--topRight),
            var(--topRight),
            var(--topRight);
    }

    21.43% {
        box-shadow:
            var(--topRight),
            var(--topRight),
            var(--right),
            var(--bottomRight),
            var(--bottom),
            var(--topRight),
            var(--topRight),
            var(--topRight);
    }

    22.32% {
        box-shadow:
            var(--topRight),
            var(--topRight),
            var(--right),
            var(--bottomRight),
            var(--bottom),
            var(--bottomLeft),
            var(--topRight),
            var(--topRight);
    }

    23.21% {
        box-shadow:
            var(--topRight),
            var(--topRight),
            var(--right),
            var(--bottomRight),
            var(--bottom),
            var(--bottomLeft),
            var(--left),
            var(--topRight);
    }

    24.11% {
        box-shadow:
            var(--topRight),
            var(--topRight),
            var(--right),
            var(--bottomRight),
            var(--bottom),
            var(--bottomLeft),
            var(--left),
            var(--topLeft);
    }

    25% {
        box-shadow: var(--startingPosition);
    }

    25.89% {
        box-shadow:
            var(--top),
            var(--topRight),
            var(--right),
            var(--right),
            var(--bottom),
            var(--bottomLeft),
            var(--left),
            var(--topLeft);
    }

    26.79% {
        box-shadow:
            var(--top),
            var(--topRight),
            var(--right),
            var(--right),
            var(--right),
            var(--bottomLeft),
            var(--left),
            var(--topLeft);
    }

    27.68% {
        box-shadow:
            var(--top),
            var(--topRight),
            var(--right),
            var(--right),
            var(--right),
            var(--right),
            var(--left),
            var(--topLeft);
    }

    28.57% {
        box-shadow:
            var(--top),
            var(--topRight),
            var(--right),
            var(--right),
            var(--right),
            var(--right),
            var(--right),
            var(--topLeft);
    }

    29.46% {
        box-shadow:
            var(--top),
            var(--topRight),
            var(--right),
            var(--right),
            var(--right),
            var(--right),
            var(--right),
            var(--right);
    }

    30.36% {
        box-shadow:
            var(--right),
            var(--topRight),
            var(--right),
            var(--right),
            var(--right),
            var(--right),
            var(--right),
            var(--right);
    }

    31.25% {
        box-shadow:
            var(--right),
            var(--right),
            var(--right),
            var(--right),
            var(--right),
            var(--right),
            var(--right),
            var(--right);
    }

    32.14% {
        box-shadow:
            var(--right),
            var(--right),
            var(--right),
            var(--bottomRight),
            var(--right),
            var(--right),
            var(--right),
            var(--right);
    }

    33.04% {
        box-shadow:
            var(--right),
            var(--right),
            var(--right),
            var(--bottomRight),
            var(--bottom),
            var(--right),
            var(--right),
            var(--right);
    }

    33.93% {
        box-shadow:
            var(--right),
            var(--right),
            var(--right),
            var(--bottomRight),
            var(--bottom),
            var(--bottomLeft),
            var(--right),
            var(--right);
    }

    34.82% {
        box-shadow:
            var(--right),
            var(--right),
            var(--right),
            var(--bottomRight),
            var(--bottom),
            var(--bottomLeft),
            var(--left),
            var(--right);
    }

    35.71% {
        box-shadow:
            var(--right),
            var(--right),
            var(--right),
            var(--bottomRight),
            var(--bottom),
            var(--bottomLeft),
            var(--left),
            var(--topLeft);
    }

    36.61% {
        box-shadow:
            var(--top),
            var(--right),
            var(--right),
            var(--bottomRight),
            var(--bottom),
            var(--bottomLeft),
            var(--left),
            var(--topLeft);
    }

    37.5% {
        box-shadow: var(--startingPosition);
    }

    38.39% {
        box-shadow:
            var(--top),
            var(--topRight),
            var(--right),
            var(--bottomRight),
            var(--bottomRight),
            var(--bottomLeft),
            var(--left),
            var(--topLeft);
    }

    39.29% {
        box-shadow:
            var(--top),
            var(--topRight),
            var(--right),
            var(--bottomRight),
            var(--bottomRight),
            var(--bottomRight),
            var(--left),
            var(--topLeft);
    }

    40.18% {
        box-shadow:
            var(--top),
            var(--topRight),
            var(--right),
            var(--bottomRight),
            var(--bottomRight),
            var(--bottomRight),
            var(--bottomRight),
            var(--topLeft);
    }

    41.07% {
        box-shadow:
            var(--top),
            var(--topRight),
            var(--right),
            var(--bottomRight),
            var(--bottomRight),
            var(--bottomRight),
            var(--bottomRight),
            var(--bottomRight);
    }

    41.96% {
        box-shadow:
            var(--bottomRight),
            var(--topRight),
            var(--right),
            var(--bottomRight),
            var(--bottomRight),
            var(--bottomRight),
            var(--bottomRight),
            var(--bottomRight);
    }

    42.86% {
        box-shadow:
            var(--bottomRight),
            var(--bottomRight),
            var(--right),
            var(--bottomRight),
            var(--bottomRight),
            var(--bottomRight),
            var(--bottomRight),
            var(--bottomRight);
    }

    43.75% {
        box-shadow:
            var(--bottomRight),
            var(--bottomRight),
            var(--bottomRight),
            var(--bottomRight),
            var(--bottomRight),
            var(--bottomRight),
            var(--bottomRight),
            var(--bottomRight);
    }

    44.64% {
        box-shadow:
            var(--bottomRight),
            var(--bottomRight),
            var(--bottomRight),
            var(--bottomRight),
            var(--bottom),
            var(--bottomRight),
            var(--bottomRight),
            var(--bottomRight);
    }

    45.54% {
        box-shadow:
            var(--bottomRight),
            var(--bottomRight),
            var(--bottomRight),
            var(--bottomRight),
            var(--bottom),
            var(--bottomLeft),
            var(--bottomRight),
            var(--bottomRight);
    }

    46.43% {
        box-shadow:
            var(--bottomRight),
            var(--bottomRight),
            var(--bottomRight),
            var(--bottomRight),
            var(--bottom),
            var(--bottomLeft),
            var(--left),
            var(--bottomRight);
    }

    47.32% {
        box-shadow:
            var(--bottomRight),
            var(--bottomRight),
            var(--bottomRight),
            var(--bottomRight),
            var(--bottom),
            var(--bottomLeft),
            var(--left),
            var(--topLeft);
    }

    48.21% {
        box-shadow:
            var(--top),
            var(--bottomRight),
            var(--bottomRight),
            var(--bottomRight),
            var(--bottom),
            var(--bottomLeft),
            var(--left),
            var(--topLeft);
    }

    49.11% {
        box-shadow:
            var(--top),
            var(--topRight),
            var(--bottomRight),
            var(--bottomRight),
            var(--bottom),
            var(--bottomLeft),
            var(--left),
            var(--topLeft);
    }

    50% {
        box-shadow: var(--startingPosition);
    }

    50.89% {
        box-shadow:
            var(--top),
            var(--topRight),
            var(--right),
            var(--bottomRight),
            var(--bottom),
            var(--bottom),
            var(--left),
            var(--topLeft);

    }

    51.79% {
        box-shadow:
            var(--top),
            var(--topRight),
            var(--right),
            var(--bottomRight),
            var(--bottom),
            var(--bottom),
            var(--bottom),
            var(--topLeft);
    }

    52.68% {
        box-shadow:
            var(--top),
            var(--topRight),
            var(--right),
            var(--bottomRight),
            var(--bottom),
            var(--bottom),
            var(--bottom),
            var(--bottom);
    }

    53.57% {
        box-shadow:
            var(--bottom),
            var(--topRight),
            var(--right),
            var(--bottomRight),
            var(--bottom),
            var(--bottom),
            var(--bottom),
            var(--bottom);
    }

    54.46% {
        box-shadow:
            var(--bottom),
            var(--bottom),
            var(--right),
            var(--bottomRight),
            var(--bottom),
            var(--bottom),
            var(--bottom),
            var(--bottom);
    }

    55.36% {
        box-shadow:
            var(--bottom),
            var(--bottom),
            var(--bottom),
            var(--bottomRight),
            var(--bottom),
            var(--bottom),
            var(--bottom),
            var(--bottom);
    }

    56.25% {
        box-shadow:
            var(--bottom),
            var(--bottom),
            var(--bottom),
            var(--bottom),
            var(--bottom),
            var(--bottom),
            var(--bottom),
            var(--bottom);
    }

    57.14% {
        box-shadow:
            var(--bottom),
            var(--bottom),
            var(--bottom),
            var(--bottom),
            var(--bottom),
            var(--bottomLeft),
            var(--bottom),
            var(--bottom);
    }

    58.04% {
        box-shadow:
            var(--bottom),
            var(--bottom),
            var(--bottom),
            var(--bottom),
            var(--bottom),
            var(--bottomLeft),
            var(--left),
            var(--bottom);
    }

    58.93% {
        box-shadow:
            var(--bottom),
            var(--bottom),
            var(--bottom),
            var(--bottom),
            var(--bottom),
            var(--bottomLeft),
            var(--left),
            var(--topLeft);
    }

    59.82% {
        box-shadow:
            var(--top),
            var(--bottom),
            var(--bottom),
            var(--bottom),
            var(--bottom),
            var(--bottomLeft),
            var(--left),
            var(--topLeft);
    }

    60.71% {
        box-shadow:
            var(--top),
            var(--topRight),
            var(--bottom),
            var(--bottom),
            var(--bottom),
            var(--bottomLeft),
            var(--left),
            var(--topLeft);
    }

    61.61% {
        box-shadow:
            var(--top),
            var(--topRight),
            var(--right),
            var(--bottom),
            var(--bottom),
            var(--bottomLeft),
            var(--left),
            var(--topLeft);
    }

    62.5% {
        box-shadow: var(--startingPosition);
    }

    63.39% {
        box-shadow:
            var(--top),
            var(--topRight),
            var(--right),
            var(--bottomRight),
            var(--bottom),
            var(--bottomLeft),
            var(--bottomLeft),
            var(--topLeft);
    }

    64.29% {
        box-shadow:
            var(--top),
            var(--topRight),
            var(--right),
            var(--bottomRight),
            var(--bottom),
            var(--bottomLeft),
            var(--bottomLeft),
            var(--bottomLeft);
    }

    65.18% {
        box-shadow:
            var(--bottomLeft),
            var(--topRight),
            var(--right),
            var(--bottomRight),
            var(--bottom),
            var(--bottomLeft),
            var(--bottomLeft),
            var(--bottomLeft);
    }

    66.07% {
        box-shadow:
            var(--bottomLeft),
            var(--bottomLeft),
            var(--right),
            var(--bottomRight),
            var(--bottom),
            var(--bottomLeft),
            var(--bottomLeft),
            var(--bottomLeft);
    }

    66.96% {
        box-shadow:
            var(--bottomLeft),
            var(--bottomLeft),
            var(--bottomLeft),
            var(--bottomRight),
            var(--bottom),
            var(--bottomLeft),
            var(--bottomLeft),
            var(--bottomLeft);
    }

    67.86% {
        box-shadow:
            var(--bottomLeft),
            var(--bottomLeft),
            var(--bottomLeft),
            var(--bottomLeft),
            var(--bottom),
            var(--bottomLeft),
            var(--bottomLeft),
            var(--bottomLeft);
    }

    68.75% {
        box-shadow:
            var(--bottomLeft),
            var(--bottomLeft),
            var(--bottomLeft),
            var(--bottomLeft),
            var(--bottomLeft),
            var(--bottomLeft),
            var(--bottomLeft),
            var(--bottomLeft);
    }

    69.64% {
        box-shadow:
            var(--bottomLeft),
            var(--bottomLeft),
            var(--bottomLeft),
            var(--bottomLeft),
            var(--bottomLeft),
            var(--bottomLeft),
            var(--left),
            var(--bottomLeft);
    }

    70.54% {
        box-shadow:
            var(--bottomLeft),
            var(--bottomLeft),
            var(--bottomLeft),
            var(--bottomLeft),
            var(--bottomLeft),
            var(--bottomLeft),
            var(--left),
            var(--topLeft);
    }

    71.43% {
        box-shadow:
            var(--top),
            var(--bottomLeft),
            var(--bottomLeft),
            var(--bottomLeft),
            var(--bottomLeft),
            var(--bottomLeft),
            var(--left),
            var(--topLeft);
    }

    72.32% {
        box-shadow:
            var(--top),
            var(--topRight),
            var(--bottomLeft),
            var(--bottomLeft),
            var(--bottomLeft),
            var(--bottomLeft),
            var(--left),
            var(--topLeft);
    }

    73.21% {
        box-shadow:
            var(--top),
            var(--topRight),
            var(--right),
            var(--bottomLeft),
            var(--bottomLeft),
            var(--bottomLeft),
            var(--left),
            var(--topLeft);
    }

    74.11% {
        box-shadow:
            var(--top),
            var(--topRight),
            var(--right),
            var(--bottomRight),
            var(--bottomLeft),
            var(--bottomLeft),
            var(--left),
            var(--topLeft);
    }

    75% {
        box-shadow: var(--startingPosition);
    }

    75.89% {
        box-shadow:
            var(--top),
            var(--topRight),
            var(--right),
            var(--bottomRight),
            var(--bottom),
            var(--bottomLeft),
            var(--left),
            var(--left);
    }

    76.79% {
        box-shadow:
            var(--left),
            var(--topRight),
            var(--right),
            var(--bottomRight),
            var(--bottom),
            var(--bottomLeft),
            var(--left),
            var(--left);
    }

    77.68% {
        box-shadow:
            var(--left),
            var(--left),
            var(--right),
            var(--bottomRight),
            var(--bottom),
            var(--bottomLeft),
            var(--left),
            var(--left);
    }

    78.57% {
        box-shadow:
            var(--left),
            var(--left),
            var(--left),
            var(--bottomRight),
            var(--bottom),
            var(--bottomLeft),
            var(--left),
            var(--left);
    }

    79.46% {
        box-shadow:
            var(--left),
            var(--left),
            var(--left),
            var(--left),
            var(--bottom),
            var(--bottomLeft),
            var(--left),
            var(--left);
    }

    80.36% {
        box-shadow:
            var(--left),
            var(--left),
            var(--left),
            var(--left),
            var(--left),
            var(--bottomLeft),
            var(--left),
            var(--left);
    }

    81.25% {
        box-shadow:
            var(--left),
            var(--left),
            var(--left),
            var(--left),
            var(--left),
            var(--left),
            var(--left),
            var(--left);
    }

    82.14% {
        box-shadow:
            var(--left),
            var(--left),
            var(--left),
            var(--left),
            var(--left),
            var(--left),
            var(--left),
            var(--topLeft);
    }

    83.04% {
        box-shadow:
            var(--top),
            var(--left),
            var(--left),
            var(--left),
            var(--left),
            var(--left),
            var(--left),
            var(--topLeft);
    }

    83.93% {
        box-shadow:
            var(--top),
            var(--topRight),
            var(--left),
            var(--left),
            var(--left),
            var(--left),
            var(--left),
            var(--topLeft);
    }

    84.82% {
        box-shadow:
            var(--top),
            var(--topRight),
            var(--right),
            var(--left),
            var(--left),
            var(--left),
            var(--left),
            var(--topLeft);
    }

    85.71% {
        box-shadow:
            var(--top),
            var(--topRight),
            var(--right),
            var(--bottomRight),
            var(--left),
            var(--left),
            var(--left),
            var(--topLeft);
    }

    86.61% {
        box-shadow:
            var(--top),
            var(--topRight),
            var(--right),
            var(--bottomRight),
            var(--bottom),
            var(--left),
            var(--left),
            var(--topLeft);
    }

    87.5% {
        box-shadow: var(--startingPosition);
    }

    88.39% {
        box-shadow:
            var(--topLeft),
            var(--topRight),
            var(--right),
            var(--bottomRight),
            var(--bottom),
            var(--bottomLeft),
            var(--left),
            var(--topLeft);
    }

    89.29% {
        box-shadow:
            var(--topLeft),
            var(--topLeft),
            var(--right),
            var(--bottomRight),
            var(--bottom),
            var(--bottomLeft),
            var(--left),
            var(--topLeft);
    }

    90.18% {
        box-shadow:
            var(--topLeft),
            var(--topLeft),
            var(--topLeft),
            var(--bottomRight),
            var(--bottom),
            var(--bottomLeft),
            var(--left),
            var(--topLeft);
    }

    91.07% {
        box-shadow:
            var(--topLeft),
            var(--topLeft),
            var(--topLeft),
            var(--topLeft),
            var(--bottom),
            var(--bottomLeft),
            var(--left),
            var(--topLeft);
    }

    91.96% {
        box-shadow:
            var(--topLeft),
            var(--topLeft),
            var(--topLeft),
            var(--topLeft),
            var(--topLeft),
            var(--bottomLeft),
            var(--left),
            var(--topLeft);
    }

    92.86% {
        box-shadow:
            var(--topLeft),
            var(--topLeft),
            var(--topLeft),
            var(--topLeft),
            var(--topLeft),
            var(--topLeft),
            var(--left),
            var(--topLeft);
    }

    93.75% {
        box-shadow:
            var(--topLeft),
            var(--topLeft),
            var(--topLeft),
            var(--topLeft),
            var(--topLeft),
            var(--topLeft),
            var(--topLeft),
            var(--topLeft);
    }

    94.64% {
        box-shadow:
            var(--top),
            var(--topLeft),
            var(--topLeft),
            var(--topLeft),
            var(--topLeft),
            var(--topLeft),
            var(--topLeft),
            var(--topLeft);
    }

    95.54% {
        box-shadow:
            var(--top),
            var(--topRight),
            var(--topLeft),
            var(--topLeft),
            var(--topLeft),
            var(--topLeft),
            var(--topLeft),
            var(--topLeft);
    }

    96.43% {
        box-shadow:
            var(--top),
            var(--topRight),
            var(--right),
            var(--topLeft),
            var(--topLeft),
            var(--topLeft),
            var(--topLeft),
            var(--topLeft);
    }

    97.32% {
        box-shadow:
            var(--top),
            var(--topRight),
            var(--right),
            var(--bottomRight),
            var(--topLeft),
            var(--topLeft),
            var(--topLeft),
            var(--topLeft);
    }

    98.21% {
        box-shadow:
            var(--top),
            var(--topRight),
            var(--right),
            var(--bottomRight),
            var(--bottom),
            var(--topLeft),
            var(--topLeft),
            var(--topLeft);
    }

    99.11% {
        box-shadow:
            var(--top),
            var(--topRight),
            var(--right),
            var(--bottomRight),
            var(--bottom),
            var(--bottomLeft),
            var(--topLeft),
            var(--topLeft);
    }

}